#head {
  background-color: grey;
}
.navtop {
  width: 100%; /* i'm assuming full width */
  height: 70px; /* change it to desired width */
  /* change to desired color */
  padding: 20px 20px 20px 20px;
}
.navopt {
  float: left;
  height: 70px;
  width: 200px;
  padding-left: 5%;
}

.box {
  display: relative;
  width: 100%;
}

#row0 {
  float: left;
  padding-top: 2%;
  padding-left: 20%;
  padding-right: 10%;
  padding-bottom: 2%;
}
#row1 {
  float: left;
  padding-top: 2%;
  padding-left: 10%;
}
#row2 {
  padding-top: 5%;
  float: left;
  width: 40%;
  padding-left: 10%;
  padding-bottom: 2%;
  overflow: scroll;
}
#footer {
  width: 100%;
  background-color: grey;
}
